@page "/BusinessWeek"
    <div class="row">
        <JSlider></JSlider>
    </div>
    <div class="row" style="height: 75px;">
        <JNavMenuBar></JNavMenuBar>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8">
                <div>
                    <JBusinessOfTheWeekCard></JBusinessOfTheWeekCard>
                </div>

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4">
                <div>
                    <JInvestorMenu></JInvestorMenu>
                </div>
                <div>
                    <JBusinessMenu></JBusinessMenu>
                </div>
            </div>
        </div>
    </div>
    @code {

    }
