.PanelProduct {
    padding: 10px 12px 14px 12px;
    border-radius: 5px;
    border-width: 0px 5px;
    border-color: #333333;
    background-color: TRANSPARENT;
}

.DivDesignName {
    height: 30px;
    background-color: #333333;
    overflow: hidden;
    border: 1px solid #333333;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
    text-align: center;
    padding: 0 5px;
    border-color: #333333;
}

.DivProductImage {
    height: 200px;
    border: 1px solid #333333;
    overflow: hidden;
}

.ProductImage {
    height: 100%;
}

.hover-item {
    color: blue;
    cursor: pointer;
}

    .hover-item:hover {
        text-decoration:underline;
    }
/*div a {
    color: blue;
}

    div a:hover {
        color: blue;
        text-decoration: underline;
    }*/
.ContainerBody {
    background-color: #F9F9F9;
}
.RowCenter {
    text-align: center;
}
.SearchBarDiv {
    vertical-align: top;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    padding-top: 50px;
}
.SearchInput {
    color: Gray;
    border-color: #CCCCCC;
    border-width: 2px;
    border-style: Inset;
    border-radius: 10px;
    font-size: Medium;
    width: 90%;
}
.SearchIcon {
    height: 28px;
    width: 28px;
}
.InviteBusinessLink {
    padding: 0px;
    border-width: 0px;
    margin: 0px 15px 15px 15px;
    font-style: italic;
}
.GetAllBusinessDiv {
    text-align: left;
    vertical-align: bottom;
}
.GetAllBusinessLink {
    font-family: Verdana;
    font-size: 0.8em;
    color: blue;
}
.SpaceSpan {
    font-family: Verdana;
    font-size: 0.8em;
}
.SearchText {
    font-family: Verdana;
    font-size: 0.8em;
}
.control-wrapper {
    width: 335px;
    margin-left:30px;
}
.InputWidth {
    width: 500px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.containerBar {
    justify-content: center;
    justify-items: center;
    margin-top: 65px;
    margin-left:35px;
}

input {
    margin: 0px 0px;
    padding: 0px 0px;
    width: 470px;
    height: 43px;
    display: flex;
    float: left;
}


.btnBar {
    width: 65px;
    height: 43px;
    float: left;
    justify-content: center;
    text-align: center;
    background-color: bisque
}



.selectBar {
    display: flex;
    float: left;
    width: 125px;
    height: 43px;
}
.Drop2 {
    width: 100px;
    height: 30px;
}

@media screen and (max-width: 375px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin-left: 40px;
        padding: 0px 0px;
        width: 250px;
        height: 43px;
        display: flex;
        float: left;
    }
}
@media screen and (max-width: 400px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin-left: 40px;
        padding: 0px 0px;
        width: 275px;
        height: 43px;
        display: flex;
        float: left;
    }
}

@media screen and (max-width: 500px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin-left: 40px;
        padding: 0px 0px;
        width: 370px;
        height: 43px;
        display: flex;
        float: left;
    }
}

@media screen and (max-width: 600px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin-left: 75px;
        padding: 0px 0px;
        width: 370px;
        height: 43px;
        display: flex;
        float: left;
    }
}
@media screen and (max-width: 700px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin-left: 75px;
        padding: 0px 0px;
        width: 370px;
        height: 43px;
        display: flex;
        float: left;
    }
}
@media screen and (max-width: 800px) {
    .containerBar select, .containerBar input, .containerBar button {
        margin: 0px 0px;
        padding: 0px 0px;
        width: 250px;
        height: 43px;
        display: flex;
        float: left;
    }
}

@media screen and (max-width: 800px) {
    .Drop2 {
        margin-left: 35px;
        padding: 0px 0px;
        width: 250px;
        height: 43px;
        display: flex;
        float: left;
    }
}
@media screen and (max-width: 375px) {
    .Drop2 {
        margin-left: 35px;
        padding: 0px 0px;
        width: 250px;
        height: 43px;
        display: flex;
        float: left;
    }
}