@page "/Offering"

<div class="row">
    <JSlider></JSlider>
</div>
<div class="row" style="height: 75px;">
    <JNavMenuBar></JNavMenuBar>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8">
            <div>
                <JOfferingLeftCard></JOfferingLeftCard>
            </div>

        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <div style="border: 2px outset gainsboro; background-color: #FFFFFF; margin-top: 5px; margin-bottom: 5px; border-radius: 2px;">
                <img id="MainContent_Image1" src="http://www.smallstreet.org/Images/Page_Index/lcold.jpg" style="width:100%;">
            </div>
            
            <div>
                <JBusinessMenu></JBusinessMenu>
            </div>
        </div>
    </div>
</div>
@code {

}
