<div style="background-color:white;">

    <div class="container-fluid" style="max-width: 1140px;font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
        <div>

            <h4 style="margin: 5px; font-weight: bold">Business Menu</h4>
            <ul class="">
                <li><a href="/RegisterBusiness">Business Registration</a></li>
                <li><a href="../BusinessEvent">Business Events</a></li>
                <li><a href="/Offering">Latest Offerings</a></li>
                <li><a href="../Winning">Who's Winning Fans?</a></li>
                <li><a href="ComingSoon.aspx">Top Businesses</a></li>
                <li><a href="/BusinessWeek">Business of the Week</a></li>
                <li><a href="../ComingSoon.aspx">Crowdfunding Resources</a></li>
                <li><a href="../ComingSoon.aspx">Crowdfunding Readiness</a></li>
                <li><a href="/Offering">Offer Deals </a></li>
            </ul>
        </div>
    </div>
</div>
@code {

}
