<div class="card">
    <img class="card-img-top" src="http://www.smallstreet.org/Images/Page_Business/busmtg.JPG" alt="image" style="width: 100%" />
    <div class="card-body" style="padding: 0% 5% 0px 5%">
        <br />
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-5"><span class="badge badge-dark">&nbsp;6&nbsp;</span></h1>
                <h4>JUL</h4>
            </div>
            <div class="col-10">
                <h5 class="text-uppercase"><strong>LION meetup</strong></h5>

                <ul class="list-inline">
                    <li>Local Investment Opportunity Network is a monthly mixer for investors and businesses..</li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Tuesday</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>6:30pm</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Steak & Tater</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-5"><span class="badge badge-secondary">12</span></h1>
                <h4>JUL</h4>
            </div>
            <div class="col-10">
                <h5 class="text-uppercase"><strong>Lunch & Learn</strong></h5>

                <ul class="list-inline">
                    <li>Meet Julie from Mountain View Coop </li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>Noon</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Wow! Interiors</li>
                    <li></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-5"><span class="badge badge-dark">14</span></h1>
                <h4>JUL</h4>
            </div>
            <div class="col-10">
                <h5 class="text-uppercase"><strong>Local Investment 101</strong></h5>

                <ul class="list-inline">
                    <li>Investment class begins with pt 1</li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Wednesday</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>All Day</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i><a href="">Online Here</a></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class="row row-striped">
            <div class="col-2 text-right">
                <h1 class="display-5"><span class="badge badge-secondary">26</span></h1>
                <h4>JUL</h4>
            </div>
            <div class="col-10">
                <h5 class="text-uppercase"><strong>Lunch & Learn</strong></h5>

                <ul class="list-inline">
                    <li>Meet Hector from Burrito's Victoria </li>
                    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>Monday</li>
                    <li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i>Noon</li>
                    <li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i>Welcome Inn</li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@code {

}
