<div class="card" style="background-color: #999999">
    <img class="card-img-top" src="http://www.smallstreet.org/Images/Designs/f04b8ea7-1553-4b6d-8094-ab6518866ae1.PNG" alt="image" style="padding: 0% 20% 0% 20%; width: 100%; text-align: center; vertical-align: middle;">
    <div class="card-body" style="background-color: #FFFFFF">
        <h4 class="card-title" style="font-weight: bolder; text-align: center;">Precious Little One's Childcare</h4>
        <p class="card-text">My facility is an in home center that I started in 2006 after working as a volunteer at my kids school while being station overseas in 2002. </p>
        <p class="card-text">When my family and I move here in 2005 I said to myself what better way to meet friends and help those parents that work late or weekends by opening my own childcare center.   </p>
        <p class="card-text">I wanted to share my love of children with those in my care.  I wanted to provide a enviroment that is safe and nutritional where children feel at home.  It's been a very exciting and rewarding experience! </p>
        <h3><a href="Design?ID=1100"><p class="card-title" style="text-align: right">See our Profile </p></a></h3>
    </div>
</div>
@code {

}
