<div style="background-color:white;">
    <div class="container-fluid" style="max-width: 1140px;font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
        <div>

            <h4 style="margin: 5px; font-weight: bold">Customer Menu</h4>
            <ul class="">
                <li><a href="/RegisterFan">Fan Registration</a></li>
                <li><a href="../FanEvents.aspx">Fan Events</a></li>
                <li><a href="ComingSoon.aspx">Top Fans</a></li>
                <li><a href="../LocalBusiness.aspx">Find Local businesses</a></li>
                <li><a href="../LocalBusiness.aspx">Adopt a business</a></li>
                <li><a href="ComingSoon.aspx">Should I Invest?</a></li>
                <li><a href="ComingSoon.aspx">SmallStreet Champions</a></li>
                <li><a href="ComingSoon.aspx">Newsletter</a></li>
            </ul>
        </div>
    </div>
</div>
@code {

}
