<div class="card">
    <img class="card-img-top" src="http://www.smallstreet.org/Images/Page_Customer/LMbusinessw.png" alt="image" style="width: 100%">
    <div class="card-body">
        <h4 class="card-title" style="font-weight: bolder">Why Should I Become a Fan?</h4>

        <img id="MainContent_Image2" src="http://www.smallstreet.org/Images/Page_Customer/SPECIAL.gif" align="right" style="width:110px;">

        <div class="col-XS-12">
            <div class="card-body" style="color: #333333">
                <h5 class="card-title" style="font-weight: bold">Discounts</h5>
                <p class="card-text">Fans receive special discounts that are unavailable to the general public.</p>
                <h5 class="card-title" style="font-weight: bold">Mentor</h5>
                <p class="card-text">Fans can give their favorite businesses constructive advice (e.g., how to improve service).</p>
                <h5 class="card-title" style="font-weight: bold">Invest</h5>
                <p class="card-text">Fans can discuss possibilities for investment crowdfunding with their businesses.</p>
            </div>
        </div>
    </div>
    <div class="col-XS-12" style="text-align: center; padding-top: 10px; padding-bottom: 30px;">
        <a href="/RegisterFan"><span class="btn-danger" style="border-style: outset; border-width: 3px; font-family: 'Segoe UI Black'; padding: 6px; border-radius: 3px; text-align: center;">JOIN US</span></a>
    </div>
</div>
@code {

}
