<div class="footer">
    <div style="text-align: center; vertical-align: middle; padding: 5px 5% 5px 5%; border-top-width: 1px; border-top-style: solid;  border-top-color: #305872; background-color: #305872;">

        <div style="text-align: center; width: 100%;">

            <a class="footerstyle" href="#" style="color:White;">Home</a>
            &nbsp;  
            <a class="footerstyle" href="#" style="color:White;">Businesses</a>
            &nbsp;    
            <a class="footerstyle" href="#" style="color:White;">Investors</a>
            &nbsp;   
            <a class="footerstyle" href="#" style="color:White;">Fans</a>
            &nbsp;   
            <a class="footerstyle" href="#" style="color:White;">Contact</a>
            &nbsp; 
            <a class="footerstyle" href="#" style="color:White;">About</a>
            &nbsp;   
            <a class="footerstyle" href="#" style="color:White;">Login</a>

        </div>

        <div style="padding: 5px 5% 5px 5%; text-align: center; vertical-align: middle; font-size: small; color: #305872; font-style: italic; white-space: normal;">
            <span style="color:White;">The Investment Network is a project of the South Central Pennsylvania Project</span>
        </div>
    </div>

</div>


@code {

}
