#HEADLINE {
    position: absolute;
    /*width: 44px;
            height: 65px;
            background-image: url('Images/Saas/Structures/las-crucesbiz/3.png');*/
    left: 0px;
    bottom: 0px;
}

.MAIN-caption {
    /*position: absolute;*/
    /*right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;*/
    color: #fff;
    text-align: LEFT;
    text-shadow: 2PX 4px 5px black /*rgba(0,0,0,.6)*/
}

.SUB-caption {
    /*position: absolute;*/
    /*right: 15%;
            bottom: 20px;
            left: 15%;
            z-index: 10;
            padding-top: 20px;
            padding-bottom: 20px;*/
    color: #fff;
    text-align: LEFT;
    text-shadow: 1PX 4px 5px black /*rgba(0,0,0,.6)*/
}
