
<div style="background-color:white;">
    <div class="container-fluid" style="max-width: 1140px;font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
        <div>

            <h4 style="margin: 5px; font-weight: bold">Customer Menu</h4>
            <ul class="">
                <li><a href="../Account/Register.aspx">Fan Registration</a></li>
                <li><a href="../FanEvents.aspx">Fan Events</a></li>
                <li><a href="ComingSoon.aspx">Top Fans</a></li>
                <li><a href="../LocalBusiness.aspx">Find Local businesses</a></li>
                <li><a href="../LocalBusiness.aspx">Adopt a business</a></li>
                <li><a href="ComingSoon.aspx">Should I Invest?</a></li>
                <li><a href="ComingSoon.aspx">SmallStreet Champions</a></li>
                <li><a href="ComingSoon.aspx">Newsletter</a></li>
            </ul>
        </div>
    </div>

    <div class="col-xs-12" style="padding: 0% 5% 0% 5%">


        <div class="container-fluid" style="max-width: 1140px;font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
            <div>

                <h4 style="margin: 5px; font-weight: bold">Business Menu</h4>
                <ul class="">
                    <li><a href="../Account/RegisterBusiness.aspx">Business Registration</a></li>
                    <li><a href="../BusinessEvents.aspx">Business Events</a></li>
                    <li><a href="../Offerings.aspx">Latest Offerings</a></li>
                    <li><a href="../Winning.aspx">Who's Winning Fans?</a></li>
                    <li><a href="ComingSoon.aspx">Top Businesses</a></li>
                    <li><a href="../BusinessWeek.aspx">Business of the Week</a></li>
                    <li><a href="../ComingSoon.aspx">Crowdfunding Resources</a></li>
                    <li><a href="../ComingSoon.aspx">Crowdfunding Readiness</a></li>
                    <li><a href="../ComingSoon.aspx">Offer Deals </a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="col-xs-12" style="padding: 0% 5% 0% 5%">


        <div class="container-fluid" style="max-width: 1140px;font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;">
            <div>

                <h4 style="margin: 4px; font-weight: bold">Investor Menu</h4>
                <ul class="">
                    <li><a href="../Account/RegisterBusiness.aspx">Investor Registration</a></li>
                    <li><a href="../ComingSoon.aspx">Investor Events</a></li>
                    <li><a href="../ComingSoon.aspx">Local Investment FAQs</a></li>
                    <li><a href="../ComingSoon.aspx">Put your $$ where your life is</a></li>
                    <li><a href="../ComingSoon.aspx">New to investing?</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
