<div class="card">
    <img class="card-img-top" src="http://www.smallstreet.org/Images/Page_Index/LasCrucesHousingStrategy.jpg" alt="image" style="width: 100%" />
    <div class="card-body">
        <h4 class="card-title" style="font-weight: bolder">Offerings</h4>
        <div class="col-XS-12">
            <div class="card-body">
                <h5 class="card-title" style="font-weight: bold; text-decoration: underline;">Pre-purchasing</h5>
                <p class="card-text">
                    <a id="MainContent_HyperLink9" href="https://credibles.co/offering/zumo" target="_blank" style="font-weight:bold;">Zumo Eco Farm</a>
                    Up to 20% off when you purchase in advance.
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink1" style="font-weight:bold;">Okazuri Sushi</a>
                    Buy $500 in meals, and get 25% off
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink6" style="font-weight:bold;">The Bugyman Exterminators</a>
                    Purchase the two-year protection plan, and save 10%
                </p>
                <hr />
                <h5 class="card-title" style="font-weight: bold; text-decoration: underline;">Crowd Fund</h5>
                <p class="card-text">
                    <a id="MainContent_HyperLink4" href="https://wefunder.com/cassavasf" target="_blank" style="font-weight:bold;">Cassava Restaurant</a>
                    $500,000 to move to a new location
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink2" style="font-weight:bold;">Mountain View Co-op</a>
                    $20,000 to help the Coop purchase a new building
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink5" style="font-weight:bold;">Burrito's Victoria</a>
                    $75,000 sought to add a food truck
                </p>
                <hr />
                <h5 class="card-title" style="font-weight: bold; text-decoration: underline;">Donations</h5>
                <p class="card-text">
                    <a id="MainContent_HyperLink8" href="https://www.gofundme.com/f/help-rebuild-the-29-diner-kitchen?qid=7590f1184ad8867b65d2b3dcbc8b60d1" target="_blank" style="font-weight:bold;">The 29 Diner Kitchen</a>
                    $50,000. Due to a fire, the entire kitchen is in need of repair.
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink3" style="font-weight:bold;">Ragged Apparel</a>
                    Acquire gear for special youth teams
                </p>
                <p class="card-text">
                    <a id="MainContent_HyperLink7" style="font-weight:bold;">Licensed Massage Therapy</a>
                    Bring massages to elderly veterans
                </p>
                <hr />
            </div>
        </div>
    </div>
</div>
@code {

}
