.ResourceCard {
    border: 0px;
    margin: 0px;
    width: 100%;
}
.ResourceCardTitle {
    padding: 10px;
}
.ResourceCardHeading {
    padding: 15px;
    border: 1px outset gainsboro;
    background-color: #FFFFFF;
    min-height: 50px;
}
