<div class="col-xs-12 RightImageCard">

    <div class="RightImageCardBody">
        <a href="@Records.RightImageCardLink">
            <div class="float-right pl-2 pr-2 pb-0 pt-1 RightImageCardTitle">
                <img class="RightImageCardImage" src="@Records.RightImageCardSource" alt="image">
            </div>
            <p>@Records.RightImageCardHeading</p>
        </a>
    </div>

</div>

@code {
    [Parameter]
    public RightImageCardDto Records { get; set; }

}
