
<div style="background-color: gainsboro; margin-bottom: 10px; margin-top: 5px;">

    <section class="slider-section" style="border: 2px outset gainsboro; border-radius:2px">
        <div id="myADOPTCarousel" class="carousel slide carousel-fade pointer-event" data-ride="carousel" data-interval="5000" font-family="'Proxima Nova', Helvetica, Arial, sans-serif">

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <!-- Slide 1 ADOPT -->
                <div class="carousel-item" style="height: 575px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;border: 1px solid #A2A2A2; ">
                    <div style="background-color: gainsboro;">
                        <a id="MainContent_HyperLink4" imagealign="Middle" min-height="100%" href="/"><img src="http://www.smallstreet.org/Images/Initiatives/Adopt20210430/AdoptPuppies.PNG" alt="" style="width:100%;"></a>
                        <div style="margin: 6%; text-align: left;">
                            <span id="MainContent_Label6" style="font-size:Medium;">
                                Many of us show our compassion and generosity through acts of adoption. Adopt a tree, adopt a baby giraffe, adopt a schoolchild, etc. Sometimes destiny comes into play... it’s something quite magical.
                            </span>
                            <br>
                            <span id="MainContent_Label7" style="font-size:Medium;">
                                As COVID-19 losses approach those of the Civil War and more America jobs than the Great Depression, all of us are being called to consider acts of adoption. Here’s an easy possibility:
                            </span>
                            <br>
                        </div>
                        <div style="text-align: center">
                            <a id="MainContent_HyperLink5" href="/" style="color:#0066CC;font-size:Large;font-weight:bold;font-style:italic;text-decoration:underline;">
                                Adopt your favorite local business.
                            </a>
                        </div>
                    </div>
                </div>

                <!-- End Slide 1
        <!-- Slide 2 FANS-->

                <div class="carousel-item active" style="height: 575px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;border: 1px solid #A2A2A2; ">
                    <div style="background-color: gainsboro;">
                        <a id="MainContent_HyperLink6" min-height="100%" href="/"><img src="http://www.smallstreet.org/Images/Initiatives/Adopt20210430/fans.PNG" alt="" style="width:100%;"></a>
                        <div style="margin: 6%; text-align: left;">
                            <a id="MainContent_HyperLink7" href="/" style="font-size:Medium;">Today we’re on the verge of losing literally millions of these businesses. </a>
                            <br>
                            <br>
                            <span id="MainContent_Label8" style="font-family:bookman old style;font-size:Medium;">
                                Federal loans will help a few survive—at least those with strong political or bank connections—but others are failing fast. I wish I could agree with our national leaders that the virus is behind us. But the awful truth is that it will mean businesses operating with thin traffic. The future for local businesses looks bleak.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- End Slide 2
        <!-- Slide 3 BOUNCE-->

                <div class="carousel-item" style="height: 575px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;border: 1px solid #A2A2A2; ">
                    <div style="background-color: gainsboro;">
                        <a id="MainContent_HyperLink9" min-height="100%" href="/"><img src="http://www.smallstreet.org/Images/Initiatives/Adopt20210430/bounce.PNG" alt="" style="width:100%;"></a>
                        <div style="margin: 6%; text-align: center;">
                            <span id="MainContent_Label3" style="color:Black;font-size:X-Large;font-weight:bold;font-style:italic;">Time is critical.</span>
                        </div>
                        <div style="margin: 6%; text-align: left;">
                            <a id="MainContent_HyperLink10" href="/" style="font-size:Medium;">  Every community has streetscapes dotted with boarded businesses. </a>
                            <span id="MainContent_Label9" style="font-size:Medium;">
                                Local businesses are the lifeblood of our communities. They are responsible for most of our local jobs and taxes, and they are our social anchors. There’s compelling evidence that communities with thriving local businesses have lower rates of crime and poverty, and higher rates of giving, volunteering, and voting.
                            </span>
                        </div>
                    </div>
                </div>

                <!-- End Slide 3 -->
                <!-- Slide 4 CROWD-->

                <div class="carousel-item" style="height: 575px; font-family: 'Proxima Nova', Helvetica, Arial, sans-serif;border: 1px solid #A2A2A2; ">
                    <div style="background-color: gainsboro;">
                        <a id="MainContent_HyperLink8" min-height="100%" href="/"><img src="http://www.smallstreet.org/Images/Initiatives/Adopt20210430/crowd.PNG" alt="" style="width:100%;"></a>
                        <br>
                        <div style="margin: 6%; text-align: left;">
                            <span id="MainContent_Label5" style="font-size:Medium;">
                                But scale matters. How can we convince friends, neighbors, and others to join us? The more businesses we can support this way, the faster we can restore our local economies and communities. We’re ready to help.
                            </span>

                            <a id="MainContent_HyperLink11" href="/" style="font-size:Medium;">Become a fan of your favorite businesses.  Let us know if they aren't listed here yet. </a>
                            <span id="MainContent_Label10" style="font-size:Medium;">
                                As each business collects fans, their funding powers increase.
                            </span>
                            <a id="MainContent_HyperLink12" href="/" style="font-size:Medium;">  We will help them execute their best funding strategies and keep you informed. </a>
                            <br>
                        </div>
                        <div style="margin: 6%; text-align: center;">
                            <span id="MainContent_Label11" style="color:Red;font-size:X-Large;font-weight:bold;font-style:italic;">
                                Let's act now.
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Left and right controls -->
            <!-- Left and right controls -->
            <button class="carousel-control-prev"
                    type="button"
                    data-mdb-target="#myADOPTCarousel"
                    data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-mdb-target="#myADOPTCarousel"
                    data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </button>
            @*<a href="#myADOPTCarousel" class="carousel-control-prev" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a href="#myADOPTCarousel" class="carousel-control-next" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>*@
        </div>
    </section>
</div>
@code {

}
