

<div style="display:block; padding-top:15px;">
    @*<img src="http://www.mycommunitybuilder.org/Images/Saas/Structures/las-crucesbiz/lcb1.PNG" alt="" />*@
    <a href="#" target="_blank" class="fa fa-facebook"></a>
    <a href="#" target="_blank" class="fa fa-twitter"></a>
    <a href="#" target="_blank" class="fa fa-youtube"></a>
    <a href="#" target="_blank" class="fa fa-instagram"></a>

</div>

@code {

}
