<div style="border: 1px outset gainsboro; background-color: #FFFFFF; margin-bottom: 20px; border-radius: 2px;">
    <div style="border-width: 5px; background-color: transparent; width: 70%; text-align: right; ">
        <img src="https://localhost:44334/Images/Page_Business/HOrseraceb.png" style="width:60%;" />
    </div>
    <div style="width: 100%; text-align: center;">
        <h4>Who's Winning the Race For Fans?</h4>
        <table class="table table-hover table-bordered table-sm table-responsive" style="margin: 0px; padding: 0px; width: 100%; background-color: #FFFFFF;">
            <thead>
                <tr style="background-color: gainsboro">
                    <th scope="col" style="text-align: CENTER">

                    </th>
                    <th scope="col" style="font-size: large; color: #580F5C; font-family: 'Franklin Gothic Heavy'; text-align: center;">#</th>
                    <th scope="col" style="font-size: large; color: #580F5C; font-family: 'Franklin Gothic Heavy'; width: 57%;">Name</th>
                    <th scope="col" style="font-size: large; color: #580F5C; font-family: 'Franklin Gothic Heavy';">Total Fans</th>
                    <th scope="col" style="font-size: large; color: #580F5C; font-family: 'Franklin Gothic Heavy';">This Week</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: CENTER">
                        <input type="image" name="ctl00$MainContent$ImageButton4" id="MainContent_ImageButton4" src="http://www.smallstreet.org/Images/Saas/Structures/no1sm.gif" style="height:50px;" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">1</th>
                    <td style="vertical-align: middle">Okazuri Sushi</td>
                    <td style="vertical-align: middle;">2,891</td>
                    <td style="vertical-align: middle">164</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">2</th>
                    <td style="vertical-align: middle">The Bugyman Exterminators</td>
                    <td style="vertical-align: middle;">2,611</td>
                    <td style="vertical-align: middle">134</td>
                </tr>
                <tr>
                    <td style="text-align: CENTER">
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">3</th>
                    <td style="vertical-align: middle">Mountain View Coop</td>
                    <td style="vertical-align: middle;">2,609</td>
                    <td style="vertical-align: middle">202</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">4</th>
                    <td style="vertical-align: middle">Licensed Massage Therapy</td>
                    <td style="vertical-align: middle;">2,598</td>
                    <td style="vertical-align: middle">133</td>
                </tr>
                <tr>
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">5</th>
                    <td style="vertical-align: middle">Burrito's Victoria</td>
                    <td style="vertical-align: middle;">2,505</td>
                    <td style="vertical-align: middle">124</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">6</th>
                    <td style="vertical-align: middle">Ragged Apparel </td>
                    <td style="vertical-align: middle;">2,487</td>
                    <td style="vertical-align: middle">126</td>
                </tr>
                <tr>
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">7</th>
                    <td style="vertical-align: middle">Precious Little One's Childcare LLC</td>
                    <td style="vertical-align: middle;">2,466</td>
                    <td style="vertical-align: middle">119</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">8</th>
                    <td style="vertical-align: middle">Las Cruces Game Knights</td>
                    <td style="vertical-align: middle;">2,443</td>
                    <td style="vertical-align: middle">171</td>
                </tr>
                <tr>
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">9</th>
                    <td style="vertical-align: middle">Ice Cream Dreams</td>
                    <td style="vertical-align: middle;">2,401</td>
                    <td style="vertical-align: middle">145</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td style="text-align: CENTER"></td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">10</th>
                    <td style="vertical-align: middle">Cycle Joy</td>
                    <td style="vertical-align: middle;">1,899</td>
                    <td style="vertical-align: middle">140</td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">11</th>
                    <td data-label="Name" class="the-name">Jillian's</td>
                    <td data-label="Fans">1,801</td>
                    <td data-label="This Week">175</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">12</th>
                    <td data-label="Name" class="the-name">
                        Round About
                    </td>
                    <td data-label="Fans">1,780</td>
                    <td data-label="This Week">162</td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">13</th>
                    <td data-label="Name" class="the-name">
                        Sure Step
                    </td>
                    <td data-label="Fans">1,609</td>
                    <td data-label="This Week">201</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">14</th>
                    <td data-label="Name" class="the-name">
                        Ice Dreams
                    </td>
                    <td data-label="Fans">1,555</td>
                    <td data-label="This Week">122</td>
                </tr>
                <tr>
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">15</th>
                    <td data-label="Name" class="the-name">
                        Steak & Tater
                    </td>
                    <td data-label="Fans">1,521</td>
                    <td data-label="This Week">154</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">16</th>
                    <td data-label="Name" class="the-name">Wow! Interiors</td>
                    <td data-label="Fans">1,408</td>
                    <td data-label="This Week">187</td>
                </tr>
                <tr>
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">17</th>
                    <td data-label="Name" class="the-name">
                        Precious Little One's Childcare LLC
                    </td>
                    <td data-label="Fans">1,355</td>
                    <td data-label="This Week">108</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td>
                        <img src="Images/star-on-big.png" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">18</th>
                    <td data-label="Name" class="the-name">
                        The Sandwich Shop
                    </td>
                    <td data-label="Fans">1,201</td>
                    <td data-label="This Week">276  Most Improved!</td>
                </tr>
                <tr>
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">19</th>
                    <td data-label="Name" class="the-name">Book It</td>
                    <td data-label="Fans">1,001</td>
                    <td data-label="This Week">70</td>
                </tr>
                <tr style="background-color: gainsboro">
                    <td>
                        <img src="" alt="" />
                    </td>
                    <th scope="row" style="vertical-align: middle; text-align: center;">20</th>
                    <td data-label="Name" class="the-name">John Ullman, CPA</td>
                    <td data-label="Fans">799</td>
                    <td data-label="This Week">25</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
@code {

}
